.container-atendimento .header-atendimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-atendimento svg {
    width: 28px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
}

svg:hover {
    color: #6799CE;
    transform: scale(1.1);
}

.container-atendimento .header-atendimento h2 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

/* Indicador de urgência */
.container-atendimento .urgencia-indicador {
    font-size: 16px;
    font-weight: bold;
    color: #ff5d5d;
}

/* Infos do chamado */
.container-atendimento .info-chamado p {
    margin: 2px;
    color: #fff;
    font-size: 15px;
}


/* Título da resposta */
.container-atendimento h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

/* Caixa de texto */
.container-atendimento textarea {
  border: none;
  border-radius: 8px;  
  color: #fff;
  background-color: #303133;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
height: 70px;
  width: 96%;
  resize: none;
}

/* Botões */
.container-atendimento .acoes-atendimento {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.container-atendimento .acoes-atendimento button{
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-finalizar {
    background: none;
    color: #89a9c7;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-finalizar:hover {
    color: #4654C0;
}

.btn-salvar {
  background-color: #6799CE;
  color: #fff;
font-size: 15px;
font-weight: bold;
}

.btn-salvar:hover {
  background-color: #4654C0;
  color: white;
}
