.container-Urgentes h2 {
    color: #fff;
    text-align: center;
}

hr {
    border: #6A6E72 solid 1px;
}

.container-Urgentes table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #e0e0e0;
}
  
.container-Urgentes th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

.container-Urgentes th {
    background-color: #9C9C9C;
    font-weight: bold;
}

.container-Funcionarios .button {
    text-align: right;
}
  
.container-Funcionarios .button > button {
    padding: 12px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.container-Funcionarios .button > button:hover {
    background-color: #004fa2;
    color: white;
}

.container-Funcionarios .button > .btn-principal {
    background-color: #007bff;
    color: #fff;
}

.container-Funcionarios .button > .btn-secundario {
    background-color: white;
    color: #007bff;
}