.container-Funcionarios h2 {
    color: #fff;
    text-align: center;
}

.container-Funcionarios .barra-pesquisa input {
    width: 99%;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #303133;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

.container-Funcionarios table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 10px 0;
    background-color: #e0e0e0;
}
  
.container-Funcionarios th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

.container-Funcionarios th {
    background-color: #9C9C9C;
    font-weight: bold;
}

/* --- Botão e opções dentro do container --- */
.menu-flutuante {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Botão flutuante principal */
.toggle-btn {
  background-color: #6799CE;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
  bottom: 40px;
  right: 26%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn:hover {
  background-color: #4654C0;
}

.toggle-btn svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  transition: transform 0.4s ease, opacity 0.3s ease;
  position: absolute;
}

/* estado inicial */
#icone-x {
  opacity: 0;
  transform: rotate(-90deg);
}

/* animação ao ativar */
.toggle-btn.ativo #icone-mais {
  opacity: 0;
  transform: rotate(90deg);
}

.toggle-btn.ativo #icone-x {
  opacity: 1;
  transform: rotate(0deg);
}

/* Opções do menu */
.opcoes {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
  gap: 8px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.opcoes.mostrar {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* Botões das opções */
.opcao {
  background-color: #6799CE;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.opcao:hover {
  background-color: #4654C0;
}
