/* === TELA MEUS DADOS ===*/
.container-meusDados {
    text-align: center;
}

h2{
  color: #fff;
  text-align: center;
}   
    
.user-profile svg {
    width:80px;
    color: #fff;
    background-color: #6A6E72;
    padding: 10px;
    border-radius: 100%;
}

.user-info {
    display: grid;;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 15px;
    margin: 40px;
}

.info {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.info label {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.info input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #303133;
    cursor: not-allowed;
}

.user-info input.editable {
    color: #fff;
    border: none;
    background-color: #303133;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.button > button {
  text-align: right;
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
.button > .btn-principal,
.button > #salvar-btn {
  background-color: #6799CE;
  color: #fff;
}

.button > .btn-principal:hover,
.button > #salvar-btn:hover {
  background-color: #4654C0;
  color: white;
}
