.container-meusChamados h2{
  color: #fff;
  text-align: center;
  margin: 0;
}

.container-meusChamados  p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.container-meusChamados .conteudo-chamados {
    display: flex;
    gap: 140px;
    justify-content: center;
    margin: 30px;
}

.container-meusChamados .icon-quantidade {
    display: flex;
}

.container-meusChamados  .chamadosUrgentes .icon-quantidade img {
    width: 100px;
    margin-left: 35px;
}

.container-meusChamados .chamadosFinalizados  img {
    width: 124px;
}

.container-meusChamados .chamadosUrgentes h4 {
    font-size: 18px;
    color: #FF4747;
    text-align: center;
}

.container-meusChamados .chamadosFinalizados h4 {
    font-size: 18px;
    color: #6799CE;
    text-align: center;
}

.container-meusChamados button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}
 
.container-meusChamados #btnUrgentes {
  background-color: #FF4747;
  color: #fff;
}

.container-meusChamados #btnUrgentes:hover {
    color: #fff;
    background-color: #b6272e;
}

.container-meusChamados #btnFinalizados {
    color: #fff;
    background-color: #6799CE;
}

.container-meusChamados #btnFinalizados:hover {
  background-color: #4654C0;
  color: white;
}