/* === TELA MEUS DADOS ===*/
.container-meusDados .container-meusDados {
    text-align: center;
}

.container-meusDados h2 {
  color: #fff;
  text-align: center;
}   

.container-meusDados .user-profile {
    background-color: #6A6E72;
    border-radius: 50%;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto ;
    margin-bottom: 20px;
}

.container-meusDados .user-profile .profile-icon {
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.container-meusDados .edit-photo-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    background-color: #6799CE;
    border-radius: 50%;
    padding: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.container-meusDados .edit-photo-btn:hover {
    background-color: #4654C0;
}

.container-meusDados .edit-photo-icon {
    width: 16px;
    height: 16px;
    color: white;
}

.container-meusDados .user-info {
    display: grid;;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 15px;
    margin: 40px;
}

.container-meusDados .info {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.container-meusDados .info label {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.container-meusDados .info input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #303133;
}

.container-meusDados .user-info input.editable {
    color: #fff;
    border: none;
    background-color: #303133;
}

.container-meusDados .button {
    display: flex;
    justify-content: flex-end;
}

.container-meusDados .button > button {
  text-align: right;
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
.container-meusDados .button > .btn-principal,
.container-meusDados .button > #salvar-btn {
  background-color: #6799CE;
  color: #fff;
}

.container-meusDados .button > .btn-principal:hover,
.container-meusDados .button > #salvar-btn:hover {
  background-color: #4654C0;
  color: white;
}
