/* === TELA REGISTRAR CHAMADO ===*/
.container-registrar h2{
  color: #fff;
  text-align: center;
}

.container-registrar  #protocolo,
.container-registrar #data {
  color: #fff;
}

.container-registrar  .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.container-registrar .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-registrar span {
  color: red;
}

.container-registrar label {
  color: #fff;
  font-weight: 600;
}

.container-registrar input[type="text"],
.container-registrar select,
.container-registrar textarea {
  border: none;
  border-radius: 8px;  
  color: #fff;
  background-color: #303133;
  height: 2rem;
  padding: 0 5px;
}

.container-registrar textarea {
  height: 70px;
  resize: none;
}

.container-registrar .info-direita {
  align-items: end;
  margin-bottom: -20px;
}

.container-registrar .info {
  display: flex;
  gap: 10px;
}

.container-registrar .info > p {
  margin: 0px;
}

.container-registrar .info-bottom {
  display: flex;
  margin-top: 20px;
}

.container-registrar .info-bottom svg {
  color: #fff;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.container-registrar .info-bottom svg:hover {
  color: #6799CE;
  transform: scale(1.1);
}

.container-registrar .file-drop {
  width: 200px;
  background-color: #303133;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.container-registrar .file-drop.dragover {
  border-color: #999;
  background-color: #f0f0f0;
}

.container-registrar .file-info {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.container-registrar .button {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.container-registrar .button > button {
  text-align: right;
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
.container-registrar .button > .btn-principal {
  background-color: #6799CE;
  color: #fff;
}

.container-registrar .button > .btn-principal:hover {
  background-color: #4654C0;
  color: white;
}