/* === TELA REGISTRAR CHAMADO ===*/
h2{
  color: #fff;
  text-align: center;
}

#protocolo,
#data {
  color: #fff;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

span {
  color: red;
}

label {
  color: #fff;
  font-weight: 600;
}

input[type="text"],
select,
textarea {
  border: none;
  border-radius: 8px;  
  color: #fff;
  background-color: #303133;
  height: 2rem;
}

textarea {
  height: 70px;
  resize: none;
  margin-bottom: 20px;
}

.info-direita {
  align-items: end;
  margin-bottom: -20px;
}

.info {
  display: flex;
  gap: 10px;
}

.info > p {
  margin: 0px;
}

.info-bottom {
  display: flex;
}

.info-bottom svg {
  color: #fff;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.info-bottom svg:hover {
  color: #6799CE;
  transform: scale(1.1);
}

.file-drop {
  width: 200px;
  background-color: #303133;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.file-drop.dragover {
  border-color: #999;
  background-color: #f0f0f0;
}

.file-info {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.button {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.button > button {
  text-align: right;
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
.button > .btn-principal {
  background-color: #6799CE;
  color: #fff;
}

.button > .btn-principal:hover {
  background-color: #4654C0;
  color: white;
}