/* Tela geral */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #272A2D;
}

.container-tela {
  display: flex;
  height: 100vh; /* ocupa a tela toda */
}

.perfil-top {
  margin: 0 16px;
  display: flex;
  max-width: 350px;
  gap: 10px;
}

/* Lateral esquerda */
.conteudo-lateral {
  width: 170px;
  background-color: #4E5054; 
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0 20px 20px 0;
}

/* Perfil do usuário */
.perfil-top {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.perfil svg {
  width: 70px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#nome-usuario {
  font-size: 16px;
}

#data-acesso,
#ip-acesso {
  font-size: 12px;
  margin: 0;
}

.line {
  border: solid #6A6E72 1px;
  margin: 40px 0;
}

/* Menu lateral */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 500;
}

.menu button:hover,
.menu button.active {
  background-color: #616161;
}

.log-out svg {
  width: 30px;
  margin-top: 60px;
  margin-left: 140px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.log-out svg:hover {
  transform: scale(1.1);
  color: #6799CE; 
}

/* Área central */
.tela-central {
  flex: 1;
  background-color: #4E5054;
  border-radius: 8px;
  margin: 2.5rem;
  padding: 1rem 2rem;
  overflow-y: auto;
}

/* === TELA REGISTRAR CHAMADO ===*/
#area .container-registrar h2{
  color: #fff;
  text-align: center;
}

#area .container-registrar #protocolo,
#area .container-registrar #data {
  color: #fff;
}
#area .container-registrar .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

#area .container-registrar .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#area .container-registrar span {
  color: red;
}

#area .container-registrar label {
  color: #fff;
  font-weight: 600;
}

#area .container-registrar input[type="text"],
#area .container-registrar select,
#area .container-registrar textarea {
  border: none;
  border-radius: 8px;  
  color: #fff;
  background-color: #303133;
  height: 2rem;
}

#area .container-registrar textarea {
  height: 70px;
  resize: none;
  margin-bottom: 20px;
}

#area .container-registrar .info-direita {
  align-items: end;
  margin-bottom: -20px;
}

#area .container-registrar .info {
  display: flex;
  gap: 10px;
}

#area .container-registrar .info > p {
  margin: 0px;
}

#area .container-registrar .info-bottom {
  display: flex;
}

#area .container-registrar .info-bottom svg {
  color: #fff;
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#area .container-registrar .info-bottom svg:hover {
  color: #6799CE;
  transform: scale(1.1);
}

#area .container-registrar .file-drop {
  width: 200px;
  background-color: #303133;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

#area .container-registrar .file-drop.dragover {
  border-color: #999;
  background-color: #f0f0f0;
}

#area .container-registrar .file-info {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

#area .container-registrar .button {
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#area .container-registrar .button > button {
  text-align: right;
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
 
#area .container-registrar .button > .btn-principal {
  background-color: #6799CE;
  color: #fff;
}

#area .container-registrar .button > .btn-principal:hover {
  background-color: #4d78a5;
  color: white;
}

/* === TELA MEUS DADOS ===*/
#area .container-meusDados h2{
  color: #fff;
  text-align: center;
}

#area .container-meusDados .user-profile svg {
  width: 90px;
  background-color: #c2c2c2;
  color: #9b9b9b;
}


#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
#area .container-meusDados
