/* CORPO DA PÁGINA E CORPO DO FORMULÁRIO */ 
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

.info-top {
    display: flex;
    justify-content: space-between;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

/* ASTERISCO DE OBRIGAÇÃO */
span {
    color: red;
}

/*botões*/
.button {
    text-align: right;
}
  
.button > button {
    padding: 12px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button > button:hover {
    background-color: #004fa2;
    color: white;
}

.button > .btn-principal {
    background-color: #007bff;
    color: #fff;
}

.button > .btn-secundario {
    background-color: white;
    color: #007bff;
}

/* TEMA ESCURO (FALTA FALZER)*/
/*.tema-toggle {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tema-toggle button{
    margin-left: 5px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
  }
  
  .dark {
    background-color: #121212;
    color: white;
  }

  .dark .container {
    background-color: #373737;
  }

.dark input[type="text"],
.dark input[type="tel"],
.dark input[type="email"],
.dark input[type="password"] {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #555;
}