body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
  }  

  .info-top {
    display: flex;
    justify-content: space-between;
  }
.container h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

span {
    color: red;
}

label {
    font-weight: bold;
    margin-bottom: 6px;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e6e6e6;
}

textarea {
    height: 60px;
    resize: none;
    margin-bottom: 20px;
}

.info-direita {
    align-items: end;
    margin-bottom: -20px;
}

.info {
    display: flex;
    gap: 10px;
}

.info > p {
    margin: 0px;
}

.info-bottom {
    display: flex;
}

.file-drop {
    width: 300px;
    border: 2px dashed #ccc;
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}

.file-drop.dragover {
    border-color: #999;
    background-color: #f0f0f0;
}

.file-info {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
}

.button {
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.button > button {
    text-align: right;
    padding: 12px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button > button:hover {
    background-color: #004fa2;
    color: white;
  }
  
  .button > .btn-principal {
    background-color: #007bff;
    color: #fff;
  }
  
  .button > .btn-secundario {
    background-color: white;
    color: #007bff;
  }

/* TEMA ESCURO (FALTA FALZER)*/
.tema-toggle {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tema-toggle button{
    margin-left: 5px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
  }
  
  .dark {
    background-color: #121212;
    color: white;
  }
  
  .dark .container {
    background-color: #373737;
  }
  
  .dark .sidebar {
    background-color: #1f1f1f;
  }
  
  .dark .sidebar button {
    background-color: #333;
    color: white;
  }